<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">InterestApp</h1>
            <h3 class="mb-5">
                <em>Ayudamos a guardar tus ideas</em>
            </h3>
            <a href="/signin" class="btn btn-primary">
                ¡Es hora de empezar!
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>