<div class="container p-4">
    <div class="row">
        <div class="col md-4 mx-auto">
            <div class="card text-center bg-alert">
                <div class="card-body bg-secondary">
                    <h3>Iniciaste sesión {{ user.fullname }} </h3>
                    <h3> Un gusto tenerte nuevamente </h3>
                    <a href="/links/views" class="btn btn-primary m-4">
                        Ir a tus enlaces
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>